@font-face {
font-family: "BitcountGridDouble";
src: url(/todo_management/static/src/fonts/BitcountGridDouble-Bold.ttf)
}
@font-face {
font-family: "BitcountGridDouble_Cursive";
src: url(/todo_management/static/src/fonts/BitcountGridDouble_Cursive-ExtraBold.ttf)
}

